/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/namrah -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Resource limits (Step 4 requirement)
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
    

    // Input data (Step 5 requirement)
    // This assumes you placed the file in the assets folder as instructed
    input = "${projectDir}/assets/samplesheet_seminar.csv"

    // Genome References (Step 4 requirement)
    fasta         = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa'
    gtf           = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.115.gtf'
    transcriptome = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.cds.all.fa'
    star_index    = '/bio/reference/SacCerR64/star_index/'
    salmon_index  = '/bio/reference/SacCerR64/salmon_index'
}

process {
    withName: 'STAR_ALIGN' {
        ext.args = '--readFilesCommand zcat'
    }
}